*{
  margin: 0;
  padding: 0;
  color: blue;
}

:root{
  --dark-background-color: #17191e;
  --light-background-color: #7e42ff;
  --dark-theme-switcher-color: #17191e;
  --light-theme-switcher-color: #7e42ff;
  --dark-navbar-color: #7e42ff;
  --light-navbar-color: #fff;

}

@font-face {
  font-family: 'Cannonade';
  src: url(../fonts/Cannonade.ttf) format('ttf');
}
/** logo button **/
.logo_a{
  border: 0.3rem solid transparent;
  border-radius: 1rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
  background:
          linear-gradient(to right, #a0b9ff8a, #efc5ff94) padding-box,
          linear-gradient(to left bottom, #c822ff, #2269ff) border-box;
  color: black;
  font-weight: 500;
  transition:
          transform .2s,
          background 7.4s,
          linear-gradient .4s;
  font-family: Cannonade, sans-serif;
}
.logo_a:hover{
  transform: scale(1.05);
}
.input_finding{
  width: 55%;
}
@media (max-width: 1000px) {
  .logo_a{
    padding: 0rem;
  }
  .logo_a img{
    height: 75%;
    width: 75%;
  }
  .input_finding{
    width: 40%;
  }
}
@media (max-width: 770px) {
  .logo_a{
    padding: 0rem;
  }
  .logo_a img{
    height: 75%;
    width: 75%;
  }
  .input_finding{
    width: 40%;
  }
}
@media (max-width: 545px) {
  .switch{
    display: none;
  }
}
/**theme switcher **/
.switch {
  position: relative;
  width: 60px;
  height: 34px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-theme-switcher-color);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--dark-theme-switcher-color);
}
input:checked + .slider:before {
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/**theme color changing**/
body{
  transition: background-color 0.4s;
  background-color: var(--light-background-color);
}
body.dark{
  background-color: var(--dark-background-color);
}

.navbar{
  background-color: var(--light-navbar-color);
  transition: background-color 0.4s;
}
.navbar.dark{
  background-color: var(--dark-navbar-color);
}

.nav-link{
  color: black;
  transition: color 0.4s;
}
.nav-link.dark{
  color: white;
}

