<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nya~ shop: О компании</title>
    <link rel="shortcut icon" href="img/nya_logo_small.svg" />
    <link href="bootstrap.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>

<body>
    {% include "set_navbar.html" %}
    <main>
        <div class="user-title">
            <h1>О компании</h1>
        </div>
        <div class="user-data-container">
            <div class="profile-menu-widget">
                <ul class="profile_ul">
                    <li>
                        <a href="/Company" class="nav-link">
                            О компании
                        </a>
                    </li>
                    <li>
                        <a href="/Career" class="nav-link">
                            Вакансии
                        </a>
                    </li>
                    <li>
                        <a href="/Policy" class="nav-link">
                            Политика конфиденциальности
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-settings-container" style="min-height: auto; display: block;">
                <h2>Drunk Wizard Studio</h2>
                <p>
                    Компания Drunk Wizard Studio основана в Россие в 2021 году. Данная компания занимается выпуском
                    различных проектов, связанных с IT.
                    В наши проекты входят такие работы, как "Bizzare Pixel Adventure", "Bureau Of Dangers", "SPOH", 
                    "Nya~ shop" и другие.
                </p>
                <p>
                    С самого начала нашего развития нашей основной целью были создание качественного контента, а также
                    предоставление радости пользователю
                    в ходе использования наших проектов. Год за годом мы улучшаем качества наших разработок, достигая
                    всё лучших результатов, которые
                    позволят пользователю ещё лучше погрузиться в исследование наших проектов, а также принесут ему ещё
                    больший интерес и положительных
                    эмоций.
                </p>
                <p>
                    Зачем мы этим занимаемся? Вы, скорее всего, уже задались этим вопросом. И правда, зачем нашей
                    компании создавать контент, предоставляющий
                    радость пользователю, если мы даже не получаем каких-либо доходов за счёт наших разработок? На самом
                    деле, всё куда проще, чем вы думаете.
                    Разрабатывая качественный контент, мы совершенствуем наши навыки создания подобных проектов, что в
                    будущем позволит нам легче устроиться на
                    нормальную работу. Также разработки приносят нам разнообразные проекты, которые мы также можем
                    внести в своё резюме для того, чтобы мы могли
                    выделиться на фоне конкурентов. Исходя из всего этого, мы понимаем, что пользуясь нашими проектами,
                    все мы остаёмся в плюсе.
                </p>
                <p>
                    Подводя итог этой небольшой статьи, стоит отметить, что без несравнимой поддержкой наших фанатов,
                    которым нравятся наши проекты, мы бы не
                    смогли достичь тех высот, кои мы занимаем прямо сейчас. Мы могли бы поблагодарить каждого из вас, но
                    всем в нашей компании всё равно, так что просто
                    продолжайте пользоваться нашими прекраснейшими проектами, и да пусть настанет гормония в вашей душе.
                    Stay funky, bros!
                </p>
            </div>
        </div>
    </main>
    <footer id="footer">
    </footer>
    <script src="js/set_navbar.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/set_footer.js"></script>
    {% include "navbar_bottom.html" %}
<script src="js/set_filter.js"></script>
</body>

</html>