<nav class="navbar navbar-expand-lg" id = "navbar">
  <div class="container">
    <a class="navbar-brand logo_a transform_scaler" id = "logo" href="/">
    <picture>
      <source srcset="img/nya_logo_small.svg" media="(max-width: 267px)">
      <img src = "img/nya_logo.svg" id = "logo_img" alt = "logo-button" style = "transition: .4s;">
    </picture>
    </a>
    <form class="d-flex input_finding" role="search">
      <div style = "width: 100%;
      height: 100%; display: flex;" id = "input_container">
        <input class="form-control me-2 his-item" placeholder="Поиск по сайту" type="search" aria-label="Поиск по сайту" style = "width: 100%;
        height: 100%;" id = "input_obj">
        <button class="btn btn-outline-success" id = "search_button" type="button" style = "
          height: 36px;
          width: 36px;
          margin-top: auto;
          margin-bottom: auto;">
          <svg width="21" height="21" fill="none" xmlns="http://www.w3.org/2000/svg" style = "margin-top: -8px; margin-left: -3px;">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M10.828 4.75a6.078 6.078 0 100 12.156 6.078 6.078 0
                  000-12.156zM3.25 10.828a7.578 7.578 0 1113.441 4.801l4.161
                  4.162a.75.75 0 11-1.06 1.06l-4.162-4.16a7.578 7.578 0 01-12.38-5.862z"
                  fill="#cecece">
            </path>
          </svg>
        </button>
      </div>
    </form>
    <div class="collapse navbar-collapse drop-menu" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" id = 'ul'>
        {% if username %}
          <li class="nav-item" id = 'begin'>
            <a class="nav-link"  href = "/Basa">
              {{username}}
            </a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" aria-current="page" href="/Basket">Корзина</a>
            {% if basket %} 
              <span class = "count_circle" id = "basket">{{basket}}</span>
            {% endif %}
          </li>
          <li class="nav-item" id = 'a_favorite'>
            <a class="nav-link" aria-current="page" href="/Favorite">Избранное</a>
            {% if favorite %} 
              <span class = "count_circle" id = "favorite">{{favorite}}</span>
            {% endif %}
          </li>
        {% else %}
          <li class="nav-item">
            <button type="button" class="user-profile-login" data-bs-toggle="modal" data-bs-target="#logining_window"/>
              Войти
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="user-profile-login" data-bs-toggle="modal" data-bs-target="#logining_window"/>
              Корзина
            </button>
          </li> 
          <li class="nav-item">
            <button type="button" class="user-profile-login" data-bs-toggle="modal" data-bs-target="#logining_window"/>
              Избранное
            </button>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>