<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Страница пользователя</title>
    <link rel="shortcut icon" href="img/nya_logo_small.svg" />
    <link href= "bootstrap.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet" >
</head>
    
<body>
{% include "set_navbar.html" %}
<div class = "user-title">
    <h1>Данные профиля</h1>
</div>
<div class = "user-data-container">
    <div class = "profile-menu-widget">
        {% include "profile_ul.html" %}
    </div>

    <div class = "user-settings-container">
        <div class = "user-settings-content">
            <form class = "inputs-user-settings">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="NicknameInput" placeholder="Никнейм" value = {{username}}>
                    <label for="NicknameInput">Никнейм</label>
                    <div class="user-settings-input-icon">
                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="24px" height="24px"><path fill="#43A047" d="M40.6 12.1L17 35.7 7.4 26.1 4.6 29 17 41.3 43.4 14.9z"/></svg>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="NameInput" placeholder="Имя" value = {{name}}>
                    <label for="NameInput">Имя</label>
                    <div class="user-settings-input-icon">
                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="24px" height="24px"><path fill="#43A047" d="M40.6 12.1L17 35.7 7.4 26.1 4.6 29 17 41.3 43.4 14.9z"/></svg>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="SurnameInput" placeholder="Фамилия" value = {{surname}}>
                    <label for="SurnameInput">Фамилия</label>
                    <div class="user-settings-input-icon">
                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="24px" height="24px"><path fill="#43A047" d="M40.6 12.1L17 35.7 7.4 26.1 4.6 29 17 41.3 43.4 14.9z"/></svg>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="tel" class="form-control" id="PhoneInput" placeholder="Телефон" pattern="[0-9]{4}-[0-9]{3}-[0-9]{4}" value = {{phone}} >
                    <label for="NameInput">Телефон</label>
                    <div class="user-settings-input-icon">
                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="24px" height="24px"><path fill="#43A047" d="M40.6 12.1L17 35.7 7.4 26.1 4.6 29 17 41.3 43.4 14.9z"/></svg>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" value = {{mail}}>
                    <label for="floatingInput">Электронная почта</label>
                    <div class="user-settings-input-icon">
                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="24px" height="24px"><path fill="#43A047" d="M40.6 12.1L17 35.7 7.4 26.1 4.6 29 17 41.3 43.4 14.9z"/></svg>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="AgeInput" placeholder="Дата рождения" value = {{age}}>
                    <label for="AgeInput">Дата рождения</label>
                </div>
            </form>
            <form id = 'Form' action="/Basaimg" method="POST" enctype="multipart/form-data">
                <div class = "settings-user-img-container">
                    <img src="{{img}}" class="settings-user-img" id = "settings-user-img">
                    <input type="file" accept="image/*" class = "submit-file-button" name = 'File'/>
                    <span id = "preview-img-span"><svg fill="#cccccc" height="64px" width="64px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 306.637 306.637" xml:space="preserve" transform="matrix(1, 0, 0, 1, 0, 0)">

                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="13.492028"/>
                        
                        <g id="SVGRepo_iconCarrier"> <g> <g> <path d="M12.809,238.52L0,306.637l68.118-12.809l184.277-184.277l-55.309-55.309L12.809,238.52z M60.79,279.943l-41.992,7.896 l7.896-41.992L197.086,75.455l34.096,34.096L60.79,279.943z"/> <path d="M251.329,0l-41.507,41.507l55.308,55.308l41.507-41.507L251.329,0z M231.035,41.507l20.294-20.294l34.095,34.095 L265.13,75.602L231.035,41.507z"/> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </g> </g>
                        
                        </svg></span>
                </div>
                <script src="js/send-profile-avatar.js"></script>
                <span class = "btn transform_scaler catalog-submit-button" onclick="buttoning()">Отправить</span>
                <script src="js/send-profile-data.js"></script>
                <span  class = "btn transform_scaler catalog-submit-button"
                style = "background: linear-gradient(135deg, #412626, #471a1a);" onclick="spaning()">Выйти из аккаунта</span>
                <script src="js/leave-account.js"></script>
            </form>
        </div>
    </div>
</div>
<footer id = "footer">
</footer>
<script src="js/set_navbar.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/set_footer.js"></script>
</body>
</html>
